#POSTGRES
POSTGRES_DB=agrotech
POSTGRES_USER=nicolas
POSTGRES_PASSWORD=nicolas241205n.

#ADMIN
SECRET_KEY=django-insecure-8g444b!+$=b^*wx8&ofely&g@a%1g3h1&-y34&f!!#*qw46%2#
DEBUG=True
POSTGRES_HOST=database
POSTGRES_PORT=5432
DJANGO_SUPERUSER_USERNAME=nicolas
DJANGO_SUPERUSER_EMAIL=olysancheznicolas@gmail.com
DJANGO_SUPERUSER_PASSWORD=nico123.

#FASTAPI
DATABASE_URL=postgresql+asyncpg://nicolas:nicolas241205n.@database/agrotech
ELASTICSEARCH_URL=http://elasticsearch:9200
REDIS_URL=redis://redis:6379
VITE_API_URL=http://localhost:80
ALLOWED_ORIGINS=http://localhost,http://localhost:5173

# En produccion usar:
# VITE_API_URL=https://api.agrotech.chickenkiller.com
# ALLOWED_ORIGINS=https://agrotech.chickenkiller.com
